
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    max-width: 70vw;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-icon {
    width: 22vh;
    background-color: transparent;
}
.logo-icon{
    width:85%;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.6vh;
    font-weight: 500;
    letter-spacing: 0.1vh;
    padding: 0.4vh 1vh;
    margin: 0 3vh;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 #ffffff;
}
.nav-item:hover{
   background-color: #ffffff; 
   color:black
}
.active {
    color: rgb(21, 20, 25);
    box-shadow: inset 200px 0 0 0 #ffffff;
}
